# Intro to Data Science with Pokemon
***

## Arrays

In [7]:
food = ["Ham", "Turkey", "Provalone", "Swiss", "Lettuce", "Mustard", "Bread","Tomato"]

In [8]:
print(food)

['Ham', 'Turkey', 'Provalone', 'Swiss', 'Lettuce', 'Mustard', 'Bread', 'Tomato']

In [9]:
print(food[2])

Provalone

In [18]:
sliced_food_list = food[0:5]

In [19]:
print(sliced_food_list)

['Ham', 'Turkey', 'Provalone', 'Swiss', 'Lettuce']

### Import Libraries
***

In [20]:
import pandas as pd
import numpy as py
import seaborn as sb

In [21]:
print("PANDAS Version" + pd.__version__)
print("NUMPY Version" + py.__version__)
print("SEABORN Version" + sb.__version__)

PANDAS Version2.2.3
NUMPY Version2.1.1
SEABORN Version0.13.2

## Loading Data
***

In [22]:
df = pd.read_csv('pokemon.csv')

## Display Full Data Frames
***

In [ ]:
#pd.set_option('display.max_rows', None)

In [25]:
df.head(600)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,583.0,583.0,Vanillish,51,65,65,80,75,59,395,...,120,1000000,Lv. 35,583.0,583.0,NaN,NaN,NaN,89.0,Vanillish
596,584.0,584.0,Vanilluxe,71,95,85,110,95,79,535,...,45,1000000,Lv. 47,584.0,584.0,NaN,NaN,NaN,90.0,Vanilluxe
597,585.0,585.0,Deerling,60,60,50,40,50,75,335,...,190,1000000,NaN,585.0,585.0,NaN,NaN,NaN,91.0,Deerling
598,586.0,586.0,Sawsbuck,80,100,70,60,70,95,475,...,75,1000000,Lv. 34,586.0,586.0,NaN,NaN,NaN,92.0,Sawsbuck
599,587.0,587.0,Emolga,55,75,60,75,60,103,428,...,200,1000000,NaN,587.0,587.0,NaN,NaN,NaN,93.0,Emolga

### Accessing Columns
***

In [26]:
df.HP

0       45
1       60
2       80
3       39
4       58
      ...
658    125
659     91
660    100
661    100
662     71
Name: HP, Length: 663, dtype: int64

In [27]:
df.Pokemon[0]

'Bulbasaur'

In [29]:
df.Pokemon[0:6]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object